@import "compass";

$img_dir:"../img/";
$font_dir:"../font/";

@font-face {
	font-family: 'coalitionregular';
	src: url('#{$font_dir}coalition_v2.-webfont.eot');
	src: url('#{$font_dir}coalition_v2.-webfont.eot?#iefix') format('embedded-opentype'),
	url('#{$font_dir}coalition_v2.-webfont.woff2') format('woff2'),
	url('#{$font_dir}coalition_v2.-webfont.woff') format('woff'),
	url('#{$font_dir}coalition_v2.-webfont.ttf') format('truetype'),
	url('#{$font_dir}coalition_v2.-webfont.svg#arialregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ethnocentricregular';
	src: url('#{$font_dir}ethnocentric_rg-webfont.eot');
	src: url('#{$font_dir}ethnocentric_rg-webfont.eot?#iefix') format('embedded-opentype'),
	url('#{$font_dir}ethnocentric_rg-webfont.woff2') format('woff2'),
	url('#{$font_dir}ethnocentric_rg-webfont.woff') format('woff'),
	url('#{$font_dir}ethnocentric_rg-webfont.ttf') format('truetype'),
	url('#{$font_dir}ethnocentric_rg-webfont.svg#arialregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin all-block($width, $height, $margin, $padding, $float)
{
	width: $width; height: $height;
	margin: $margin; padding: $padding;
	float: $float;
}

* {
	margin: 0; padding: 0;
	border: none; outline: none;
	text-decoration: none;
	font-family: arial_regular, sans-serif;
	font-size: 14px;
	color: #A9A9A9;
	font-family: "coalitionregular";
}

body {
	@include all-block(1100px, 750px, auto, auto, none);
	background: url("#{$img_dir}fond3.jpg") no-repeat fixed;
	background-size: cover;
	min-width: 1100px;
}

.clear {
	clear: both;
}

header {
	@include all-block(auto, 10%, 0, 0, none);
	img {
		max-width: 100%;
		max-height: 100%;
	}
	#logout {
		font-family: "coalitionregular";
		@include all-block(15%, 35px, 0, 0, right);
		display: inline-block;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		background: rgba(92, 172, 238, 0.3);
	}
	#logout:hover {
		background: rgba(92, 172, 238, 0.4);
	}
	#logout:active {
		font-size: 13px;
		background: rgba(92, 172, 238, 0.6);
	}
}

nav {
	@include all-block(25%, 70%, 0, 0, left);
	margin-top: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	button {
		font-family: "coalitionregular";
		@include all-block(70%, 35px, 0, 0, right);
		display: inline-block;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		background: rgba(92, 172, 238, 0.3);
	}
	button:hover {
		background: rgba(92, 172, 238, 0.4);
	}
	button:active {
		font-size: 13px;
		background: rgba(92, 172, 238, 0.6);
	}
}

.float {
	float: left;
}

section {
	@include all-block(50%, 90%, 0, 0, left);
	#show_ressource {
		@include all-block(auto, 80px, 0, 0, none);
		list-style-type: none;
		li {
			list-style: none;
			@include all-block(110px, 80px, 10px 35px, 0, left);
			text-align: center;
		}
	}
	#info {
		@include all-block(auto, calc(100% - 150px), 20px 0 0 0, 0, none);
		border: 5px solid black;
		#ressource {
			#show_info {
				@include all-block(100%, 65%, auto, 0, none);
			}
			#box_img {
				height: 35%;
				.box_img_mine {
					@include all-block(calc(100% / 3), 100%, auto, auto, left);
					position: relative;
					cursor: pointer;
					img {
						position: absolute;
						height: 60%;
						top: 20%;
						left: 10%;
					}
				}
			}
		}
		#usine {
			#show_info_usine {
				@include all-block(100%, 65%, auto, 0, none);
			}
			#box_img_usine {
				height: 35%;
				.box_img_mine {
					@include all-block(calc(100% / 3), 100%, auto, auto, left);
					position: relative;
					cursor: pointer;
					img {
						position: absolute;
						height: 60%;
						top: 20%;
						left: 10%;
					}
				}
			}
		}
	}
}

#info_metal, #info_cristal, #info_usine, #info_minion {
	width: 100%;
	height: 100%;
	background: #111;
	.ico {
		float: left;
		width: 30%;
	}
	list-style-type: none;
	li {
		text-align: center;
		list-style: none;
		@include all-block(110px, 80px, 10px 35px, 0, left);
		text-align: center;
	}
}

.right {
	text-align: right;
}

aside {
	@include all-block(25%, 90%, 0, 0, left);
	#show_planet {
		@include all-block(50%, 450px, 40% auto 0, 0, none);
		text-align: center;
	}
}

#connexion {
	text-align: center;
	color: white;
	@include all-block(40%, auto, 20% auto, 0, none);
	input[name="login"], input[type="password"] {
		font-family: "coalitionregular";
		@include all-block(55%, 35px,5px 0px, 5px 4%, none);
		background: rgba(126, 192, 238, 0.3);
	}
	input[name="login"]:hover, input[type="password"]:hover {
		background: rgba(126, 192, 238, 0.5);
	}
	input[name="login"]:active, input[type="password"]:active, input[name="login"]:focus, input[type="password"]:focus {
		background: rgba(126, 192, 238, 0.6);
	}
	input[type="reset"], input[type="submit"] {
		font-family: "coalitionregular";
		@include all-block(30%, 35px, 20px 0 0 2%, 0, none);
		display: inline-block;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		background: rgba(92, 172, 238, 0.3);
	}
	input[type="reset"]:hover, input[type="submit"]:hover {
		background: rgba(92, 172, 238, 0.4);
	}
	input[type="reset"]:active, input[type="submit"]:active {
		font-size: 13px;
		background: rgba(92, 172, 238, 0.6);
	}
}

#dev_metal, #dev_cristal, #dev_usine, #crea_minion, #attack {
	font-family: "coalitionregular";
	@include all-block(30%, 35px, 0, 0, right);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	background: rgba(92, 172, 238, 0.3);
}
#dev_metal:hover, #dev_cristal:hover, #dev_usine:hover, #crea_minion:hover, #attack:hover {
	background: rgba(92, 172, 238, 0.4);
}
#dev_metal:active, #dev_cristal:active, #dev_usine:active, #crea_minion:active, #attack:active {
	font-size: 13px;
	background: rgba(92, 172, 238, 0.6);
}

input[name="nb_minion"], input[name="nb_bataille"] {
	font-family: "arial";
	@include all-block(10%, 35px,5px 0px, 5px 4%, none);
	background: rgba(126, 192, 238, 0.3);
}
input[name="nb_minion"]:hover, input[name="nb_bataille"]:hover {
	background: rgba(126, 192, 238, 0.5);
}
input[name="nb_minion"]:active, input[name="nb_minion"]:focus, input[name="nb_bataille"]:active, input[name="nb_bataille"]:focus {
	background: rgba(126, 192, 238, 0.6);
}

#accueil {
	div {
		width: 50%;
		height: 50%;
		float: left;
	}
}
